{% extends "global/Page.html" %}
{% load static otree %}

{% block title %}
Intro to Experiment
{% endblock %}

{% block content %}

<p>

Please agree to the below in order to proceed with the survey

   <p>

I confirm that I have had the project explained to me, and I have read the participant information sheet, which I may keep for my records.
<p>

I understand this will involve:
   <p>
 Complete questionnaires asking me about Age, Sex, Educational Attainment, Income Category
  <p>
  Use a computer to play a game, and complete the aformentioned survey information, as well as other self reports
<p>

I understand that any information I provide is confidential, and that no information that could lead to the identification of any individual will be disclosed in any reports on the project, or to any other party. No identifiable personal data will be published. The identifiable data will not be shared with any other organisation.
<p>

I understand that my participation is voluntary, that I can choose not to participate in part or all of the project, and that I can withdraw at any stage of the project without being penalised or disadvantaged in any way.
<p>

I agree to City recording and processing this information about me. I understand that this information will be used only for the purpose(s) set out in this statement and my consent is conditional on City complying with its duties and obligations under the General Data Protection Regulation (GDPR).
<p>

I agree to the arrangements for data storage, archiving, sharing.
<p>

I agree to take part in the above study.
<p>

By pressing the button below, you will be agreeing to all the above and afformentioned parts of the study, and will begin the study

<p>

Remember, that at any time, you may exit the study, without penalty, and your data will not be used
</p>

<button class="otree-btn-next btn btn-primary">I Have Read The Above, And With Full Understanding, Agree to Partake in the Study</button>

{% endblock %}
