{% extends "global/Page.html" %}
{% load static otree %}

{% block title %}
Intro to Experiment
{% endblock %}

{% block content %}

<p>



<P>
Investigator: Daniel Saxon
</p>

<p>
Supervisor: Sergiu Ungureanu
</p>


<p>

We would like to invite you to take part in a research study. Before you decide whether you would like to take part it is important that you understand why the research is being done and what it would involve for you. Please take time to read the following information carefully and discuss it with others if you wish. Ask us if there is anything that is not clear or if you would like more information.
</p>

 <p>
What is the purpose of the study?
The purpose of this study is to investigate the results of repeated gameplay under observable conditions
</p>

<p>

Why have I been invited?
You have been invited to participate through City University London, recruited online through social media and other platforms of outreach. We are looking for participants who are over 18 years old. This study will involve about 100 participants.
</p>

 <p>

Do I have to take part?
Participation in this study is completely voluntary and you may withdraw at any time without consequence.
It is up to you to decide whether or not to take part. If you do decide to take part you will be asked to sign a consent form. If you decide to take part you are still free to withdraw at any time and without giving a reason. Once the data has been anonymised/published you will no longer be able to withdraw your data.
</p>


<p>

What will happen if I take part?

Your participation in the study will involve about 30-45 minutes of playing a game. This study will be conducted online and will collect data for 1 month or until about 100 participants have responded to the questionnaire. The data will be analysed using statistical software.
</p>

<p>

What do I have to do?

You will be asked to play 15 rounds of a game which will take about 30-45 minutes.
</p>


<p>

What are the possible disadvantages and risks of taking part?
There should be no risks or potential disadvantages to taking part in this study.
</p>



<p>

What are the possible benefits of taking part?
While there are no direct benefits of taking part in this study, this research will be beneficial to society as it will provide a broader idea of gameplay over time under certain conditions.
</p>



<p>

What will happen when the research study stops?
If the project is stopped before the last questionnaire is completed, your data will be permanently deleted and will not be used as part of the data analysis process.
</p>



<p>

Will my taking part in the study be kept confidential?

Your data will in no way be connected to your real identity. Your data will be kept in a password protected folder on a private computer and will not be accessible to anyone but the researcher. This data will be used only for the intended study, and will be deleted permanently after completing the dissertation.
</p>



<p>

What should I do if I want to take part?
You should complete play all rounds of the gameplay and respond to the corresponding questions.
</p>


<p>

What will happen to the results of the research study?
The results from this study will be published as part of a MSc dissertation. They may also be published in peer-reviewed journal articles. If you would be interested in receiving a copy of any published journal articles this study may yield, please contact the researcher with the information given on the debriefing form and ask to be sent a copy once the paper(s) have been published.
</p>



<p>

What will happen if I don’t want to carry on with the study?
You are free to withdraw from this study at any time without an explanation or penalty.
</p>



<p>

Who has reviewed the study?
This study has been approved by City University London Psychology Research Ethics Committee, PSYETH (R/L)
</p>



<p>

Further information and contact details
Daniel Saxon, primary researcher: daniel.saxon@city.ac.uk
Sergiu Ungureanu, research supervisor: sergiu.ungureanu.2@city.ac.uk
</p>

<p>

Data Protection Privacy Notice: What are my rights under the data protection legislation?

City, University of London is the data controller for the personal data collected for this research project. Your personal data will be processed for the purposes outlined in this notice. The legal basis for processing your personal data will be that this research is a task in the public interest, that is City, University of London considers the lawful basis for processing personal data to fall under Article 6(1)(e) of GDPR (public task) as the processing of research participant data is necessary for learning and teaching purposes and all research with human participants by staff and students has to be scrutinised and approved by one of City’s Research Ethics Committees.
</p>


The rights you have under the data protection legislation are listed below, but not all of the rights will be apply to the personal data collected in each research project.
</p>


<p>
•           right to be informed</p>
<p>

•           right of access</p>
<p>

•           right to rectification</p>
<p>

•           right to erasure</p>
<p>

•           right to restrict processing</p>
<p>

•           right to object to data processing</p>
<p>

•           right to data portability</p>
<p>

•           right to object</p>
<p>

•           rights in relation to automated decision making and profiling</p>


<p>

For more information, please visit www.city.ac.uk/about/city-information/legal
</p>

<p>

What if I have concerns about how my personal data will be used after I have participated in the research?

In the first instance you should raise any concerns with the research team, but if you are dissatisfied with the response, you may contact the Information Compliance Team at dataprotection@city.ac.uk or phone 0207 040 4000, who will liaise with City’s Data Protection Officer Dr William Jordan to answer your query.
</p>

<p>

If you are dissatisfied with City’s response you may also complain to the Information Commissioner’s Office at www.ico.org.uk
</p>

<p>

What if there is a problem?

If the research is undertaken in the UK if you have any problems, concerns or questions about this study, you should ask to speak to a member of the research team. If you remain unhappy and wish to complain formally, you can do this through City’s complaints procedure. To complain about the study, you need to phone 020 7040 3040.
</p>

<p>
You could also write to the Secretary at:

Anna Ramberg

Research Governance & Integrity Manager

Research & Enterprise

City, University of London

Northampton Square

London

EC1V 0HB

Email: Anna.Ramberg.1@city.ac.uk
</p>

<p>
City holds insurance policies which apply to this study. If you feel you have been harmed or injured by taking part in this study you may be eligible to claim compensation. This does not affect your legal rights to seek compensation. If you are harmed due to someone’s negligence, then you may have grounds for legal action.
</p>


<p>
Thank you for taking the time to read this information sheet.
</p>




<button class="otree-btn-next btn btn-primary">Continue </button>

{% endblock %}
